@import "tailwindcss";

body {
  margin: 0;
  min-height: 100vh;
}

#widget-root {
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.header {
  width: 100%;
  height: 20px;
}

.content {
  width: 100%;
  height: calc(100% - 20px);
  box-sizing: border-box;
  padding: 1rem;
}

